
{% load staticfiles %}
{% extends "index.html" %}

<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Notify</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'estilo.css' %}">
        <script src="{% static 'scripts.js' %}" defer></script>
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="img/notification-bell.png" type="image/x-icon">
    </head>
<body>

    {% block conteudo %}
    
    {% endblock %}

</body>
</html>
